
@{
    ViewData["Title"] = "About";
}

<h2 style=" text-align : center ; color : darkred">A Propos De NOUS</h2>


<br />
<br />
<br />
<br />

<h6 style=" text-align : center">Achetez Target en ligne et en magasin pour tout, de l'épicerie et des articles essentiels aux vêtements et à l'électronique. Choisissez le ramassage ou la livraison sans contact dès aujourd'hui.</h6>
<br />
<br />

<div style=" text-align : center">
    <div class="row">
        <div class="col-sm-4">
            <img src="~/saleproduct/p0.jpg" alt="Lights" style="width:100%">
        </div>
        <div class="col-sm-4">
            <p>
                La première étape pour travailler dans un endroit que vous aimez est de trouver l'emplacement parfait.
                Cliquez sur un état sur notre carte ou sélectionnez un emplacement dans la liste.
                Ensuite, vous pouvez affiner vos résultats en fonction du rôle horaire de magasin ou de centre de
                distribution que vous recherchez.
            </p>
        </div>
    </div>
</div>
<br />
<br />


<div>
    <div class="row">
        <div class="col-sm-4">
            <img src="~/saleproduct/p1.jpg" alt="Lights" style="width:100%">
            <h4>Où nous sommes</h4>
            <p>De notre siège social de Minneapolis aux emplacements dans le monde entier, nous apprécions l'équipe qui se réunit pour servir nos clients et les communautés où nous faisons des affaires.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/saleproduct/p2.jpg" alt="Lights" style="width:100%">
            <h4>Comment nous travaillons</h4>
            <p>Un travail significatif et des opportunités abondent pour vous permettre d'acquérir et de développer des compétences qui couvriront toute votre carrière. Créez des relations qui dureront toute une vie.</p>
        </div>
        <div class="col-sm-4">
            <img src="~/saleproduct/p3.jpg" alt="Lights" style="width:100%">
            <h4>Nos avantages</h4>
            <p>Nous nous soucions de vous et investissons en vous en tant que membre de l'équipe, afin que vous puissiez prendre soin de vous et de votre famille. Trouvez des avantages compétitifs, du bien-être financier au bien-être et au-delà.</p>
        </div>
    </div>
</div>