
@{
    ViewData["Title"] = "Contact";
}

<h1>FAQ Target</h1>

<h3>Comment peut-on passer une commande pour la première fois ?</h3>
<p>
    Commencez par :
    - Créer votre compte pour faire vos achats,
    - Ou choisir votre panier et créer votre compte ultérieurement.
    Si vous procédez ainsi, vous seriez appelé à saisir votre nom d’utilisateur dès que vous sélectionnez le premier produit à mettre au panier. Dès que la vérification sera effectuée, vous pouvez choisir vos produits en cliquant sur « acheter » ou « ajouter au panier », puis procéder à l’inscription avant de valider votre commande.
</p>

<h3>Comment ajouter/ supprimer un produit du panier ?</h3>
<p>
    Un simple clic sur les symboles + ou – se trouvant à côté de chaque produit vous permettra de rajouter ou de supprimer des articles de votre commande. Une fois vos articles sont sélectionnés, cliquez sur « Acheter » ou « Ajouter au panier », et vos produits seront affichés dans votre panier. Un article peut aussi être supprimé en cliquant sur le symbole « x ».
</p>

<h3>
    Quelles sont les conditions pour commander en ligne ?
</h3>
<p>Pour toutes vos commandes en ligne, le montant minimum est défini à 20 TND.</p>

<h3>Peut-on suivre une commande en ligne ?</h3>
<p>
    Accédez à la rubrique « Mon Compte » dans « Mes Commandes » pour suivre l’état de votre commande. Cette fonctionnalité
    vous permettra de savoir si votre commande en ligne est « Validée », « En cours de préparation », ou « à retirer ».
</p>

<h3>Comment peut-on passer les commandes à distance ?</h3>
<p>Commencez par choisir le point de vente le plus proche et procédez ensuite à faire vos courses en ligne. Sélectionnez les produits que vous souhaitiez rajouter au panier, validez votre commande en cliquant sur le bouton « Je valide mon panier », un récapitulatif de l'ensemble des éléments liés à la commande sera affichée et votre commande est ainsi validée.</p>

<h3>Quels sont les horaires d’ouverture de vos magasins ?</h3>
<p>Nos magasins sont ouverts 7 jours sur 7 de 8h30 à 22h, sauf les premiers jours de l’Aïd al Fetr et al Adha.</p>
<h3>Quels sont les horaires de récupération des commandes ?</h3>
<p>Votre commande est prête à la livraison dans les 3 heures qui suivent la validation. Vous pouvez donc récupérer vos commandes en vous présentant au magasin de récupération muni de votre code commande et votre CIN.</p>
<h3>Comment supprimer des articles dans l’une des listes de courses ?</h3>
<p>Consultez vos listes dans la rubrique « Mon compte- mes listes de courses », où vous pouvez voir les détails de chacune de vos listes. Choisissez le / les articles que vous voulez supprimer, et cliquez sur « Supprimer ».</p>